@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'RocknRoll One', sans-serif;
}

.container{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://media4.giphy.com/media/jtXRDVzaCPXSynUz7h/giphy.gif'); 
background-position: center;
background-size: cover;
padding-left: 4%;
padding-right: 4%;
box-sizing: border-box;
transition: all 0.5s;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    transition: transform 0.5s;
}

.logo{
    width: 85px;
    cursor: pointer;
}

.menu-icon{
    width: 40px;
    cursor: pointer;
    margin-left: 40px
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 5%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
  }
  
  .col{
    display: flex;
    flex-basis: 500%;
    justify-content: center;
    align-items: center;
  }
  
  p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
  }
  
  button{
    width: 50px;
    color: #000;
    font: bold 14px RocknRoll One;
    justify-content: center;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  button:hover{
    width: 180px;
  }
  
  .card{
    width: 450px;
    height: 350px;
    display: flex;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url('https://cdn.dribbble.com/users/662779/screenshots/5122311/server.gif');
    background-position: center;
    background-size: cover;
    transition: transform 0.2s;
  }
  
  .cardget{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817036181157576744/server.gif');
  }
  
  .cardpost{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817034613456109578/post.gif');
  }
  
  .cardpatch{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://www.kauavitorio.com/systemstrength/api/images/patch.gif');
  }
  
  .carddelete{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817035357165846558/delete.gif');
  }
  
  .card:hover{
    transform: translateY(-10px);
  }
  
  h5{
    color: rgb(255, 196, 148);
    text-shadow: 0 0 5px #999;
  }
  
  .card p {
    text-shadow: 0 0 15px #000;
    font-size: 10px;
    padding-top: 10px;
  }

  .status-title{
    width: 100%;
    height: 35px;
    display: flex;
  }
  .status-box-img{
    width: 40px;
    height: 100%;
    display: flex;
  }

  .status-img{
    width: 100%;
    height: 100%;
  }

  .status-description{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 5px;
  }

  .status-title-text{
    color: #fff;
    margin-top: 5px;
    font: bold 14.8px RocknRoll One;
  }

  .statusServices{
    width: 100%;
    height: 80%;
    margin-left: 1.5%;
  }

  .status-ball1,
  .status-ball2,
  .status-ball3,
  .status-ball4,
  .status-ball5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(9, 255, 0);
  }
  
  .status-services-content{
    width: 100%;
    height: 35px;
    display: flex;
    margin-top: 5%;
  }

  .statusdesctext{
    color: #fff;
    font: 100 14px RocknRoll One;
  }

  /*------- Loading Animation -------*/
.spinner-wrapper{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #5BD9F0 0%,#1944a0 100% );
  animation: spin .4s infinite linear;
}
.spinner:after {
  width: 91%;
  height: 91%;
  background-color: #000000ab;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
  


/*------------- Start Responsive -------------*/
@media only screen and (max-width: 1040px){
    .card{
      width: 180px;
    }
}
  
  @media only screen and (max-width: 938px){
    .card{
      width: 170px;
    }
  }
  
  @media only screen and (max-width: 768px){
    .card{
        text-align: start;
        width: 500px;
        margin: 18px 3px;
    }

    .col{
      display: block;
      margin-left: 15%;
      justify-content: center;
      align-items: center;
    }

    .container{
      height: 100vh;
    }
  }
  
  @media only screen and (max-width: 414px){
    p{
      padding-top: 10px;
      text-align: initial;
      font-size: 14px;
    }
  
    .container{
      height: 100vh;
    }
  
    .row{
      display: block;
    }
  
    .card{
      text-align: start;
      width: 350px;
      height: 270px;
      margin: 18px 12px;
    }
  
    nav ul li{
      display: none;
    }
  
    .navbar{
      padding-right: 10%;
    }
  
    .menu-icon{
      width: 45px;
      margin-left: -50px;
    }
  
    .row h1{
      text-align: center;
      font-size: 40px;
    }

    .col{
      display: grid;
      flex-basis: 500%;
      margin-left: 0;
    }
  
    .status-services-content{
      margin-top: 2%;
    }

  }
  
  @media only screen and (max-width: 360px){
    .card{
        height: 240px;
        margin: 18px 9px;
    }
  }
  
  @media only screen and (max-width: 375px){
    .card{
      width: 320px;
      height: 250px;
    }
  }
  
  @media only screen and (max-width: 320px){
    .card{
      width: 150px;
      margin: 18px 9px;
    }
}
