.wrapper {
  padding: 30px;
}

.cookie-container {
  position: fixed;
  z-index: 999999;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #1f2329;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px #b835144b;
  transition: 400ms;
}

.desc_cookie{
  font-size: 18px;
  margin: 24px 0;
  line-height: 2;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #ff481b;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

#btn_whyineedtoaccept{
  background: #e842183a;
  text-decoration: underline;
  color: #f5f6fa9c;
}

#btn_whyineedtoaccept:hover{
  background: #e84218;
  color: #ffffff;
  transition: 600ms;
}