  /** =======================================================
  * WebSite Name: Kaua Vitorio - Protifolio v1.0.0
  * WebSite URL: https://www.kauavitorio.com/
  * Author: https://github.com/kauavitorio
  * License: https://github.com/Kauavitorio/Kaua-Vitorio/blob/main/LICENSE
  ======================================================== **/
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
  * {
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
      background: #333;
      color: #fff;
      height: 100vh;
      line-height: 1.6;
      overflow: hidden;
    }
    
    .container {
      width: 100%;
      height: 100%;
      /* CSS Smooth Scroll */
      overflow-y: scroll; 
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
    }
    
    .lead {
      font-family: 'Roboto Slab', serif;
      font-size: 1.5rem;
    }
    
    .navbar {
      position: fixed;
      top: 0;
      z-index: 1;
      display: flex;
      width: 100%;
      height: 60px;
      background: rgba(0,0,0,0.7);
    }
    
    .navbar ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: center;
    }
    
    .navbar ul li {
      margin: 0 1rem;
      padding: 1rem;
    }
    
    .navbar ul li a {
      font-family: 'Sriracha', cursive;
      text-decoration: none;
      text-transform: uppercase;
      color: #f4f4f4;
    }
    
    .navbar ul li a:hover {
      color: skyblue;
    }
    
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100vh;
     
      /* Scroll Snap */
      scroll-snap-align: center;
    }
    
    section h1 {
      margin-left: auto;
      font-size: 4rem;
    }
  
      /* ================================
    *       Start About Section      *
    * ================================= */
  
    .contenderAbout{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
    }
  
    .contenderAbout h1{
      margin-top: 50px;
    }
  
    /* ================================
    *       Start Partner Section      *
    * ================================= */
  
    .contenderPartner{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
    }
  
    .contenderPartner h1{
      margin-top: 90px;
    }
  
    #btn_download  {
      position: relative;
      background-color: #1d1d1d86;
      color: white;
      font: bold 19pt Segoe UI;
      border-radius: 10px;
      border: solid 1.5px #707070;
      box-shadow: 6px 8px 10px #00ffee8c;
      width: 300px;
      height: 70px;
      transition: ease 0.5s;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      justify-content: center;
      padding-bottom: 10px;
    }
    #btn_download:hover {
      cursor: pointer;
      color: rgb(230, 230, 230);
      background-color: #18181848;
      transition: ease 0.5s;
      border: solid 2px #ffffff;
      box-shadow: 4px 6px 8px #00ffee;
      font: bold 22pt Segoe UI;
    }
  
    /* ================================
    *       Start Design Section      *
    * ================================= */
    .contenderDesign{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
    }
  
    .contenderDesign h1{
      margin-top: 90px;
    }
    
    /* Section Images */
   section#home {
      background: url('https://www.kauavitorio.com/host-itens/Text_kaua_neon.gif') no-repeat center center/cover;;
    }
    
    section#intro {
      background: url('https://www.kauavitorio.com/host-itens/nigth-city.jpg') no-repeat center center/cover;;
    }
    
    section#imgs-project {
      background: url('https://cdn.discordapp.com/attachments/756546249901211749/812147267632758825/Base_Back.png') no-repeat center center/cover;;
    }
    
    section#download {
      background: url('https://www.kauavitorio.com/host-itens/street-night.jpg') no-repeat center center/cover;;
    }
    
  
  /* ========================================
              Start  Responsivo
  =========================================== */
    @media only screen and (max-width: 581px) {
      section#home{
        background-size: 100%;
        background-color: black;
      }
  
      .contenderPartner h1{
        margin-top: 45px;
      }
  
      .contenderDesign h1{
        margin-top: 50px;
      }
  
      .lead {
        font-size: 1.4rem;
      }
  
      section h1 {
        font-size: 3.5rem;
      }
    }
  
    @media only screen and (max-width: 360px) {
      .lead {
        font-size: 1.2rem;
      }
  
      .contenderPartner h1{
        margin-top: 40px;
      }
  
      .contenderDesign h1{
        margin-top: 45px;
      }
    }
  
    @media only screen and (max-width: 320px) {
      section h1 {
        font-size: 2.6rem;
      }
      .lead {
        font-size: 1.1rem;
      }
    }
  
    /** =======================================================
    * WebSite Name: Kaua Vitorio - Protifolio v1.0.0
    * WebSite URL: https://www.kauavitorio.com/
    * Author: https://github.com/kauavitorio
    * License: https://github.com/Kauavitorio/Kaua-Vitorio/blob/main/LICENSE
    ======================================================== **/