@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://www.kauavitorio.com/systemstrength/api/images/background.gif'); 
  background-position: center;
  background-size: cover;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  transition: all 0.5s;
}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  transition: transform 0.5s;
}

.logo{
  width: 90px;
  cursor: pointer;
}

.menu-icon{
  width: 40px;
  cursor: pointer;
  margin-left: 40px
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 5%;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  transition: all 0.5s;
  cursor: pointer;
}

nav ul li a:hover{
  color: rgba(0, 255, 255, 0.842);
}

.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;
}

.line{
  color: #fff;
  font-size: 60px;
}

.apisupporttext{
  color: aqua;
  text-decoration: none;
}

/*  Text Animation   */
.AnimeText{
  animation: apperText 1000ms steps(60) 3 alternate;
}

@keyframes apperText{
  from {
    color: rgba(255, 255, 255, 0.644);
  }
  to {
    color: #fff;
  }
}

p{
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button{
  width: 50px;
  color: #000;
  font: bold 14px RocknRoll One;
  justify-content: center;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover{
  width: 180px;
}

.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url('https://cdn.dribbble.com/users/662779/screenshots/5122311/server.gif');
  background-position: center;
  background-size: cover;
  transition: transform 0.2s;
}

.cardget{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817036181157576744/server.gif');
}

.cardpost{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817034613456109578/post.gif');
}

.cardpatch{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://www.kauavitorio.com/systemstrength/api/images/patch.gif');
}

.carddelete{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url('https://cdn.discordapp.com/attachments/756546249901211749/817035357165846558/delete.gif');
}

.card:hover{
  transform: translateY(-10px);
}

h5{
  color: rgb(255, 196, 148);
  text-shadow: 0 0 5px #999;
}

.card p {
  text-shadow: 0 0 15px #000;
  font-size: 10px;
  padding-top: 10px;
}


/* Menu Lateral */
.menulateral{
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 10000;
  bottom: 0%;
  left: 100;
  right: 0;
  background: #1f2329ab;
  transition: all 0.8s;
}

.ulMenuLateral{
  width: 100%;
  height: 100%;
  background-color: transparent;
  list-style: none;
  padding: 10px 0px;
}

.CloseMenu{
  margin: auto;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('https://www.kauavitorio.com/systemstrength/api/images/icone-close.png');
  background-position: center;
  transition: all 0.2s;
  cursor: pointer;
}

.CloseMenu:hover{
  background-image: url('https://www.kauavitorio.com/systemstrength/api/images/menu-close-red.png');
}

.HomeMenu{
  margin: auto;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('https://www.kauavitorio.com/systemstrength/api/images/menu-home.png');
  background-position: center;
  background-size: 35px;
  background-repeat: no-repeat;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 20px;  
}
.HomeMenu:hover{
  background-size: 40px;
}

.StatusMenu{
  margin: auto;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('https://www.kauavitorio.com/systemstrength/api/images/menu-status.png');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 20px;  
}

/*Hover*/
.StatusMenu:hover{
  background-size: 35px;

}

.UseAPIMenu{
  margin: auto;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('https://www.kauavitorio.com/systemstrength/api/images/cloud-network.png');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 20px;  
}

.UseAPIMenu:hover{
  background-size: 35px;

}

.TranslateMenu{
  margin: auto;
  width: 50px;
  height: 50px;
  right: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('https://cdn.countryflags.com/thumbs/brazil/flag-3d-round-250.png');
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 20px;  
}

.TranslateMenu:hover{
  background-size: 35px;

}


/*------------- Start Responsive -------------*/
@media only screen and (max-width: 1040px){
  .card{
    width: 180px;
  }
}

@media only screen and (max-width: 938px){
  .card{
    width: 170px;
  }
}

@media only screen and (max-width: 768px){
  .card{
    text-align: start;
    width: 165px;
    margin: 18px 3px;
  }
}

@media only screen and (max-width: 414px){
  p{
    padding-top: 10px;
    text-align: initial;
    font-size: 14px;
  }

  .container{
    height: 100%;
  }

  .row{
    display: block;
  }

  .card{
    text-align: start;
    width: 160px;
    margin: 18px 12px;
  }

  nav ul li{
    display: none;
  }

  .navbar{
    padding-right: 10%;
  }

  .menu-icon{
    width: 45px;
    margin-left: -50px;
  }

  .row h1{
    text-align: center;
    font-size: 40px;
  }

}

@media only screen and (max-width: 360px){
  .card{
    width: 140px;
    margin: 18px 9px;
  }
}


@media only screen and (max-width: 375px){
  .card{
    width: 150px;
    margin: 18px 9px;
  }
}

@media only screen and (max-width: 320px){
  .card{
    width: 150px;
    margin: 18px 9px;
  }
}