@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Zilla+Slab:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
font-family: 'Zilla Slab', serif;
    background: #000;
}

/******** Start Scroll Bar **********/
::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, #1473c2, #71f6ff, #a568c9);
    animation: animate 6s, steps(60) infinite linear both;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #e0ff71, #ffdb66, #e9ec23);
    filter: blur(10px);
}

#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #e0ff71, #ffdb66, #e9ec23);
    filter: blur(10px);
}
/******** End Scroll Bar **********/

#BtnTranslateCFCPriv{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    margin-top: 1%;
    margin-right: 2%;
    border-radius: 50%;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.651);
    background-image: url('https://cdn.countryflags.com/thumbs/brazil/flag-3d-round-250.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}
#BtnTranslateCFCPriv:hover{
    background-size: 35px;
  
  }


section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(8, 8, 8);
    color: #fff;
}

section .content{
    max-width: 80%;
}

#partesocial{
    height: 100%;
}

/*H2*/
section .content #title_kaua,
section .content #txtRecentProjects{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.3s;
    transform-origin: left;
    transform: scaleX(0);
}
/*H2*/
section .content #title_kaua[data-scroll="in"],
section .content #txtRecentProjects[data-scroll="in"]{
    transform: scaleX(1);
}

/*H2*/
section .content #title_kaua:before,
section .content #txtRecentProjects:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e4bd51;
    transform-origin: right;
    transition: 0.5s;
    z-index: 10;
}

/*H2*/
section .content #title_kaua[data-scroll="in"]::before,
section .content #txtRecentProjects[data-scroll="in"]::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
}

/*H3*/
section .content #title_softwaredev,
section .content #txtMobileDeveloper{
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: 10;
}
/*H3*/
section .content #title_softwaredev[data-scroll="in"],
section .content #txtMobileDeveloper[data-scroll="in"]{
    transform: scaleX(1);
    transition-delay: 0.5s;
}
/*H3*/
section .content #title_softwaredev:before,
section .content #txtMobileDeveloper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1cf70;
    transform-origin: left;
    transition: 0.5s;
    transform: scaleX(1);
}
/*H3*/
section .content #title_softwaredev[data-scroll="in"]::before,
section .content #txtMobileDeveloper[data-scroll="in"]::before{
    transform: scaleX(0);
    transition-delay: 1s;
}
/*P*/
section .content #title_dec,
section .content #txtDescRecentProjects{
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
    z-index: 9999;
}

/*P*/
section .content #title_dec[data-scroll="in"],
section .content #txtDescRecentProjects[data-scroll="in"]{
    opacity: 1;
    transition-delay: 1.2s;
}

/*A*/
section .content #BtnVisiteMobile,
section .content #BtnVeiwProjects{
    position: relative;
    background: #fff;
    border-radius: 10px;
    color: #262626;
    padding: 12px 30px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
    transform: translateX(100px);
    opacity: 0;
    z-index: 1000;
} 
/*A*/
section .content #BtnVisiteMobile[data-scroll="in"],
section .content #BtnVeiwProjects[data-scroll="in"]{
    transform: translateX(0);
    transition-delay: 1.3s;
    opacity: 1;
}

#contentRecentProjects{
    display: inline-block;
    position: relative;
    margin-top: -10%;
}

/*Social Cards*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 100px;
    grid-gap: 30px;
  }
  .card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
  }
  .containerCard{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  }
  img{
    width: 99%;
    display: block;
    border-radius: 20px 20px 0 0;
  }
  .containerCard:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
  }
  .card1>.containerCard:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
  }
  .card2>.containerCard:after{
    background-image: linear-gradient(
        135deg,
        #3d2be3,
        #ffa742
    );
  }
  .card3>.containerCard:after{
    background-image: linear-gradient(
        135deg,
        #3d2be3,
        #c97304
    );
  }
  .details{
    padding: 20px 10px;
  }
  .details>a{
    color: #ffffff;
    font-weight: 600;
    font-size: 35px;
    margin: 10px 0 15px 0;
  }
  .details>p{
    color: #d1d1d1;
    margin-top: 15px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
  }
  
  .details>h2{
    color: #d1d1d1;
    margin-top: 10px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
  
  }


.btn_face, .btn_insta, .btn_link{
    display: inline-block;
    width: 4vw;
    height: 4vw;
    background: #cececec5;
    margin-top: 1vw;
    margin-left: 21vw;
    border-radius: 30%;
    text-align: center;
    color: #fefeff;
  }
  .btn_face:hover{
    background: rgb(56, 126, 255);
  }
  .btn_insta:hover{
    background: rgba(243, 70, 104, 0.795);
  }
  .btn_link:hover{
    background: rgb(0, 77, 179);
  }
  .btn_face i, .btn_insta i, .btn_link i{
    line-height: 4vw;
    font-size: 1.8vw;
    transition: 0.2s linear;
  }
  .btn_face:hover i, .btn_insta:hover i, .btn_link:hover i{
    transform: scale(1.5);
    color: #f1f1f1;
  }
  footer p{
    color: white;
    text-align: center;
    margin-left: -30px;
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
  }
  footer p:hover{
    color: rgb(182, 182, 182);
  }

@media only screen and (max-width: 412px) {
    section{
        height: 110vh;
    }


    #BtnTranslateCFCPriv{
        margin-top: 3%;
        margin-right: 5%;
    }

/*  Start H2*/
section .content #txtRecentProjects{
    transform: scaleX(1);
}
/*H2*/
section .content #txtRecentProjects[data-scroll="in"]{
    transform: scaleX(1);
}

section .content #txtRecentProjects:before{
    transform: scaleX(0);
}
/*  END H2  */

/*  Start H3    */
section .content #txtMobileDeveloper{
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1);
    z-index: 10;
}
/*H3*/
section .content #txtMobileDeveloper[data-scroll="in"]{
    transform: scaleX(1);
    transition-delay: 0.5s;
}
/*H3*/
section .content #txtMobileDeveloper:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffeb3b;
    transform-origin: left;
    transition: 0.5s;
    transform: scaleX(0);
}
/*H3*/
section .content #txtMobileDeveloper[data-scroll="in"]::before{
    transform: scaleX(0);
    transition-delay: 1s;
}
/*  End H3    */

/*  Start P   */
section .content #txtDescRecentProjects{
    font-size: 1.2em;
    transition: 1s;
    opacity: 1;
    z-index: 10;
}

/*P*/
section .content #txtDescRecentProjects[data-scroll="in"]{
    opacity: 1;
    transition-delay: 1.2s;
}
/*  End P   */


/*  Start A   */
section .content #BtnVeiwProjects{
    position: relative;
    background: #fff;
    color: #262626;
    padding: 12px 30px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
    transform: translateX(0);
    opacity: 1;
}
/*A*/
section .content #BtnVeiwProjects[data-scroll="in"]{
    transform: translateX(0);
    transition-delay: 1.3s;
    opacity: 1;
}
/*  End A   */
}

/*A*/
section .content #BtnVeiwProjects{
    margin-top: 5px;
}

@media only screen and (max-width: 360px) {
    section{
        height: 130vh;
    }

    section .content{
        max-width: 80%;
        margin-top: -45%;
    }

    #contentRecentProjects{
        margin-top: -40%;
    }

    /*  Start H2*/
    section .content #txtRecentProjects{
    font-size: 6vh;
}

/*  Start P   */
section .content #txtDescRecentProjects{
    font-size: 2.5vh;
    transition: 1s;
    opacity: 1;
}

/*P*/
section .content #txtDescRecentProjects[data-scroll="in"]{
    font-size: 2.5vh;
}

    
}
