*{
    background-color: #000;
}

/*--------------------------------------------------------------
# Section Inicio
--------------------------------------------------------------*/

.text_parceiros{
  color: #fff;
  align-items: center;
  position: absolute;
  justify-items: center;
}